/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as Cartesia from "../../../index";
import * as fs from "fs";
import { Blob } from "buffer";
import * as serializers from "../../../../serialization/index";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index";

export declare namespace Stt {
    export interface Options {
        environment?: core.Supplier<environments.CartesiaEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string | undefined>;
        /** Override the Cartesia-Version header */
        cartesiaVersion?: "2024-06-10";
        fetcher?: core.FetchFunction;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Override the Cartesia-Version header */
        cartesiaVersion?: "2024-06-10";
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Stt {
    constructor(protected readonly _options: Stt.Options = {}) {}

    /**
     * Transcribes audio files into text using Cartesia's Speech-to-Text API.
     *
     * Upload an audio file and receive a complete transcription response. Supports arbitrarily long audio files with automatic intelligent chunking for longer audio.
     *
     * **Supported audio formats:** flac, m4a, mp3, mp4, mpeg, mpga, oga, ogg, wav, webm
     *
     * **Response format:** Returns JSON with transcribed text, duration, and language. Include `timestamp_granularities: ["word"]` to get word-level timestamps.
     *
     * **Pricing:** Batch transcription is priced at **1 credit per 2 seconds** of audio processed.
     *
     * <Note>
     * For migrating from the OpenAI SDK, see our [OpenAI Whisper to Cartesia Ink Migration Guide](/api-reference/stt/migrate-from-open-ai).
     * </Note>
     *
     * @param {File | fs.ReadStream | Blob} file
     * @param {Cartesia.TranscriptionRequest} request
     * @param {Stt.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.stt.transcribe(fs.createReadStream("/path/to/your/file"), {
     *         model: "ink-whisper",
     *         language: "en"
     *     })
     *
     * @example
     *     await client.stt.transcribe(fs.createReadStream("/path/to/your/file"), {
     *         model: "ink-whisper",
     *         language: "en",
     *         timestampGranularities: ["word"]
     *     })
     */
    public async transcribe(
        file: File | fs.ReadStream | Blob,
        request: Cartesia.TranscriptionRequest,
        requestOptions?: Stt.RequestOptions,
    ): Promise<Cartesia.TranscriptionResponse> {
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (request.encoding != null) {
            _queryParams["encoding"] = serializers.SttEncoding.jsonOrThrow(request.encoding, {
                unrecognizedObjectKeys: "strip",
            });
        }

        if (request.sampleRate != null) {
            _queryParams["sample_rate"] = request.sampleRate.toString();
        }

        const _request = await core.newFormData();
        await _request.appendFile("file", file);
        _request.append("model", request.model);
        if (request.language != null) {
            _request.append("language", request.language);
        }

        if (request.timestampGranularities != null) {
            for (const _item of request.timestampGranularities) {
                _request.append(
                    "timestamp_granularities[]",
                    serializers.TimestampGranularity.jsonOrThrow(_item, { unrecognizedObjectKeys: "strip" }),
                );
            }
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CartesiaEnvironment.Production,
                "/stt",
            ),
            method: "POST",
            headers: {
                "Cartesia-Version": requestOptions?.cartesiaVersion ?? this._options?.cartesiaVersion ?? "2024-06-10",
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@cartesia/cartesia-js",
                "X-Fern-SDK-Version": "2.2.9",
                "User-Agent": "@cartesia/cartesia-js/2.2.9",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ..._maybeEncodedRequest.headers,
                ...requestOptions?.headers,
            },
            queryParameters: _queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return serializers.TranscriptionResponse.parseOrThrow(_response.body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                skipValidation: true,
                breadcrumbsPrefix: ["response"],
            });
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CartesiaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CartesiaError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.CartesiaTimeoutError("Timeout exceeded when calling POST /stt.");
            case "unknown":
                throw new errors.CartesiaError({
                    message: _response.error.errorMessage,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "X-API-Key": apiKeyValue };
    }
}
