/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as fs from "fs";
import { Blob } from "buffer";
import * as Cartesia from "../../../index";
import * as stream from "stream";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index";

export declare namespace Infill {
    interface Options {
        environment?: core.Supplier<environments.CartesiaEnvironment | string>;
        apiKey?: core.Supplier<string | undefined>;
        /** Override the Cartesia-Version header */
        cartesiaVersion?: "2024-06-10";
        fetcher?: core.FetchFunction;
    }

    interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Override the Cartesia-Version header */
        cartesiaVersion?: "2024-06-10";
    }
}

export class Infill {
    constructor(protected readonly _options: Infill.Options = {}) {}

    /**
     * Generate audio that smoothly connects two existing audio segments. This is useful for inserting new speech between existing speech segments while maintaining natural transitions.
     *
     * Only the `sonic-preview` model is supported for infill at this time.
     *
     * At least one of `left_audio` or `right_audio` must be provided.
     */
    public async bytes(
        leftAudio: File | fs.ReadStream | Blob,
        rightAudio: File | fs.ReadStream | Blob,
        request: Cartesia.InfillBytesRequest,
        requestOptions?: Infill.RequestOptions
    ): Promise<stream.Readable> {
        const _request = await core.newFormData();
        await _request.appendFile("left_audio", leftAudio);
        await _request.appendFile("right_audio", rightAudio);
        await _request.append("model_id[]", request.modelId);
        await _request.append("language[]", request.language);
        await _request.append("transcript[]", request.transcript);
        await _request.append("voice[id]", request.voiceId);
        await _request.append("output_format[container]", request.outputFormatContainer);
        await _request.append("output_format[sample_rate]", request.outputFormatSampleRate.toString());
        if (request.outputFormatEncoding != null) {
            await _request.append("output_format[encoding]", request.outputFormatEncoding);
        }

        if (request.outputFormatBitRate != null) {
            await _request.append("output_format[bit_rate]", request.outputFormatBitRate.toString());
        }

        if (request.voiceExperimentalControlsSpeed != null) {
            await _request.append(
                "voice[__experimental_controls][speed]",
                typeof request.voiceExperimentalControlsSpeed === "string"
                    ? request.voiceExperimentalControlsSpeed
                    : JSON.stringify(request.voiceExperimentalControlsSpeed)
            );
        }

        if (request.voiceExperimentalControlsEmotion != null) {
            await _request.append(
                "voice[__experimental_controls][emotion][]",
                request.voiceExperimentalControlsEmotion
            );
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _response = await (this._options.fetcher ?? core.fetcher)<stream.Readable>({
            url: urlJoin(
                (await core.Supplier.get(this._options.environment)) ?? environments.CartesiaEnvironment.Production,
                "/infill/bytes"
            ),
            method: "POST",
            headers: {
                "Cartesia-Version": requestOptions?.cartesiaVersion ?? this._options?.cartesiaVersion ?? "2024-06-10",
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@cartesia/cartesia-js",
                "X-Fern-SDK-Version": "2.1.4",
                "User-Agent": "@cartesia/cartesia-js/2.1.4",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ..._maybeEncodedRequest.headers,
            },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            responseType: "streaming",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return _response.body;
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CartesiaError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CartesiaError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.CartesiaTimeoutError();
            case "unknown":
                throw new errors.CartesiaError({
                    message: _response.error.errorMessage,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "X-API-Key": apiKeyValue };
    }
}
