/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as fs from "fs";
import * as core from "../../../../../core/index.js";
import * as Cartesia from "../../../../index.js";

/**
 * @example
 *     {
 *         clip: fs.createReadStream("/path/to/your/file"),
 *         name: "A high-similarity cloned voice",
 *         description: "Copied from Cartesia docs",
 *         language: "en"
 *     }
 */
export interface CloneVoiceRequest {
    /** The audio clip to clone. The clip should be about 5 seconds long. */
    clip: core.file.Uploadable.FileLike;
    /** The name of the voice. */
    name: string;
    /** A description for the voice. */
    description?: string;
    /** The language of the voice. */
    language: Cartesia.SupportedLanguage;
    /** Whether to apply AI enhancements to the clip to reduce background noise. This is not recommended unless the source clip is extremely low quality. */
    enhance?: boolean;
    /** Optional base voice ID that the cloned voice is derived from. */
    baseVoiceId?: Cartesia.VoiceId;
}
