/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as fs from "fs";
import * as core from "../../../../../core/index.js";
import * as Cartesia from "../../../../index.js";

/**
 * @example
 *     {
 *         clip: fs.createReadStream("/path/to/your/file"),
 *         voiceId: "694f9389-aac1-45b6-b726-9d9369183238",
 *         outputFormatContainer: "mp3",
 *         outputFormatSampleRate: 44100,
 *         outputFormatBitRate: 128000
 *     }
 *
 * @example
 *     {
 *         clip: fs.createReadStream("/path/to/your/file"),
 *         voiceId: "694f9389-aac1-45b6-b726-9d9369183238",
 *         outputFormatContainer: "wav",
 *         outputFormatSampleRate: 44100,
 *         outputFormatEncoding: "pcm_f32le"
 *     }
 *
 * @example
 *     {
 *         clip: fs.createReadStream("/path/to/your/file"),
 *         voiceId: "694f9389-aac1-45b6-b726-9d9369183238",
 *         outputFormatContainer: "raw",
 *         outputFormatSampleRate: 44100,
 *         outputFormatEncoding: "pcm_f32le"
 *     }
 */
export interface VoiceChangerBytesRequest {
    clip: core.file.Uploadable.FileLike;
    voiceId: string;
    outputFormatContainer: Cartesia.OutputFormatContainer;
    outputFormatSampleRate: number;
    /** Required for `raw` and `wav` containers. */
    outputFormatEncoding?: Cartesia.RawEncoding;
    /** Required for `mp3` containers. */
    outputFormatBitRate?: number;
}
